/* noto-serif-gujarati-regular - latin-ext_latin_gujarati */
@font-face {
    font-family: 'Noto Serif Gujarati';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-regular.svg#NotoSerifGujarati') format('svg'); /* Legacy iOS */
  }
  /* noto-serif-gujarati-500 - latin-ext_latin_gujarati */
  @font-face {
    font-family: 'Noto Serif Gujarati';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-500.svg#NotoSerifGujarati') format('svg'); /* Legacy iOS */
  }
  /* noto-serif-gujarati-700 - latin-ext_latin_gujarati */
  @font-face {
    font-family: 'Noto Serif Gujarati';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-gujarati-v21-latin-ext_latin_gujarati-700.svg#NotoSerifGujarati') format('svg'); /* Legacy iOS */
  }